<div class="chat-request-pop">
	<img src="{{'images/chat/' ~ chatPop.image}}" class="chat-image-pop">
	<p class="chat-name-pop">
		{{chatPop.chatName}}
	</p>
	<p class="chat-members-pop">
		{{chatPop.members|length}}
		members
	</p>
	<a href="">
		Join request
	</a>
</div>
