<div class="pop-join-request">
	{% if pop.image is not null %}
		<img src="{{'/images/chat/' ~ image}}">
	{% endif %}
	<p class="c-name">
		{{name}}
	</p>
	<p class="c-members">
		<b>
			{{members}}
		</b>
		members
	</p>
	<p class="c-join" data-hash="{{hash}}">
		Request join
	</p>
	<p class="c-close">
		Close
	</p>
</div>
