<div class="pop-join-request">
	<span class='exist-pop'>
		This chat already exists!
	</span>
	{% if pop.image is not null %}
		<img src="{{'/images/chat/' ~ image}}">
	{% else %}
		<img src="images/chat-bubbles.png">
	{% endif %}
	<span class="c-name">
		{{name}}
	</span>
	<span class="c-members">
		<b>
			{{members}}
		</b>
		members
	</span>
	<span class="c-join" data-hash="{{hash}}">
		Request join
	</span>
</div>
