{% extends "app/homepage.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
	<section class="chat">
		<div class="top">
			<a href="{{path('homepage')}}">
				&lsaquo; Homepage
			</a>
		</div>
		<div class="messages"></div>
		<div class="new-msg">
			<textarea class="message-box" id="messageContent"></textarea>
			<button class="send-message" id="messageSend" data-id="">
				Send
			</button>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="/js/send.js"></script>
	<script src="/js/jquery.js"></script>
{% endblock %}
