<div class="chat-requests-list">
	{% for user in list.user %}
		<div class="chat-requests-element">
			<img src="{{'images/users/' ~ user.image}}">
			<p>
				{{user.Name}}
				{{user.Surname}}
			</p>
			<a href="">
				Accept
			</p>
			<a href="">
				Decline
			</p>
		</div>
	{% endfor %}
</div>
