nav {
  height: 10vh;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}
nav .user-nav-elem,
nav .logo {
  font-size: 2em;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-nav-elem {
  min-width: 21%;
}
nav a {
  background-color: rgb(236, 89, 89);
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 2em;
  text-decoration: none;
}
.logo img {
  width: 25px;
  height: 25px;
}
.user-nav-elem img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
}
.user-img-set {
  cursor: pointer;
}
#userImg {
  display: none;
}
.chats {
  width: 90%;
  height: 88vh;
  margin: 1vh auto;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.chats-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  background-color: #fafafa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.chats-header a {
  text-decoration: none;
  background-color: rgb(236, 89, 89);
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 1.5em;
}
.chats-header-title {
  font-size: 1.5em;
}
.chats-content {
  padding: 0.5em 1em;
  overflow-y: auto;
}
.chats-content a {
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px solid rgb(168, 168, 168);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 1em;
  color: rgb(63, 63, 63);
}
.chats-content .chat-name {
  min-width: 90%;
}
.chats-content .last-message {
  width: 85%;
  color: rgb(158, 158, 158);
  overflow: hidden;
  text-overflow: ellipsis;
}
.chats-content .last-message-time {
  width: 10%;
  text-align: right;
  color: rgb(124, 123, 123);
}
.chats-content .unread-messages {
  width: 10%;
  text-align: right;
}
.chats-content .unread-messages span {
  background-color: rgb(255, 58, 58);
  color: #fff;
  font-size: 1.1em;
  padding: 0.2em 0.5em;
  border-radius: 50%;
}
.chat {
  width: 95%;
  height: 89vh;
  margin: 1vh auto 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(252, 247, 247);
}
.side {
  width: 25%;
  padding: 1em 0.5em;
  height: 100%;
  background-color: rgb(233, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side a {
  background-color: rgb(114, 214, 105);
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.5em 2em;
  width: 100%;
  text-align: center;
}
.chat-image {
  width: 100%;
  height: 25%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
.chat-upload-file {
  cursor: pointer;
  width: 75%;
  height: auto;
  padding: 1.5em 2em;
}
#chatImage {
  display: none;
}
.chat-upload-file img {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 50%;
}
.messenger-chat-name {
  margin: 0.7em 0;
  width: 100%;
}
.messenger-chat-name .chat-name {
  font-size: 2.5em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messenger-chat-name #set {
  font-size: 1.6em;
  color: blue;
  cursor: pointer;
}
.messenger-chat-name .edit {
  font-size: 1.75em;
}
.chat-name-change input {
  width: 55%;
}
.chat-name-change button {
  width: 35%;
  cursor: pointer;
}
.chat-name-change .close {
  width: 5%;
  cursor: pointer;
}
.chat-name-change {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 0;
  width: 100%;
}
.messenger-chat-members {
  width: 100%;
  max-height: 75%;
  overflow-y: auto;
}
.messenger-chat-members .member {
  margin: 0.2em 0;
  font-size: 1.2em;
}

.messenger {
  width: 75%;
  height: 100%;
}
.messages {
  height: 87%;
  overflow: auto;
  padding: 0.3em 0.8em;
}
.new-msg {
  width: 100%;
  height: 12.5%;
  border-top: 1px solid rgb(170, 170, 170);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messageFile {
  display: none;
}
.messageFile-pic {
  cursor: pointer;
  font-size: 2em;
}
.message-box {
  width: 88%;
  height: 100%;
  resize: none;
  padding: 0.2em;
  font-size: 1.5em;
}
.send-message {
  width: 11%;
  height: 70%;
  font-size: 1.5em;
  cursor: pointer;
}

.message-object {
  width: 100%;
  height: auto;
  min-height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clear: both;
  margin: 0.7em 0;
}
.message-content {
  max-width: 50%;
  height: auto;
  min-height: 40px;
  padding: 0.2em 0.5em;
  border-radius: 30px;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  color: #fff;
}
.message-file {
  max-width: 50%;
  height: auto;
  min-height: 40px;
  border-radius: 30px;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  color: #fff;
}
object {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
.sent {
  align-items: flex-end;
}
.received {
  align-items: flex-start;
}
.sent .message-content {
  background-color: rgb(236, 89, 89);
  justify-content: flex-end;
}
.received .message-content {
  background-color: rgb(34, 204, 0);
  justify-content: flex-start;
}
.message-author {
  font-size: 1.2em;
}
.message-sent-at {
  font-size: 0.8em;
}

.create-chat-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  margin: 0 auto;
  padding: 1.5em;
}
.set-back {
  font-size: 1.8em;
  text-decoration: none;
  color: rgb(236, 89, 89);
  margin-bottom: 0.5em;
}
.create-chat-box form {
  display: flex;
  flex-direction: column;
}
.create-chat-box form > label {
  font-size: 1.45em;
  font-weight: bold;
}
.form-js-members {
  display: flex;
  width: 100%;
  height: 2.5em;
  justify-content: space-between;
  align-items: center;
}
.form-members-counter {
  font-size: 1.2em;
}
.form-members-add {
  font-size: 1.2em;
  padding: 0.3em 0.7em;
  background-color: rgb(236, 89, 89);
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}
.create-chat-box img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 0.2em;
  border: 1px solid #000;
}
.form-member-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 0.5px solid rgb(139, 139, 139);
  padding: 0 0.5em;
  cursor: pointer;
}
.form-member-box img {
  margin-right: 0.75em;
}
.form-member-box .member-box-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 25%;
}
.set-members {
  display: none;
  position: absolute;
  top: 5vh;
  left: 27.5%;
  height: 90vh;
  width: 45%;
  background-color: rgb(240, 240, 240);
  z-index: 25;
  padding: 0.3em 0.4em;
  overflow: auto;
  color: rgb(58, 58, 58);
}
.ok-button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 0.5em 0.8em;
  background-color: rgb(236, 89, 89);
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 15px;
}
.set-name {
  width: 50%;
  height: 20%;
  padding: 0 0.3em;
}
.set-submit {
  margin-top: 0.6em;
  width: 30%;
  height: 35%;
  background-color: rgb(236, 89, 89);
  color: #fff;
  font-size: 1.3em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.pop-join-request {
  width: 75%;
  height: 60%;
  margin: auto;
  padding: 0.35em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.842);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: auto;
}
.exist-pop {
  font-size: 1.55em;
  font-weight: bold;
}
.pop-join-request img {
  width: 75px;
  height: 75px;
}
.c-name {
  font-size: 1.3em;
}
.c-members {
  font-size: 1.2em;
}
.c-join {
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 1.25em;
  cursor: pointer;
  background-color: rgb(236, 89, 89);
  color: #fff;
  border: none;
}
.request-box-list {
  width: 50%;
  height: 90vh;
  margin: auto;
  padding: 0.35em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: auto;
  z-index: 25;
  position: absolute;
  top: 5vh;
  left: 25%;
}
.member-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 0.5em;
  width: 100%;
}
.profile-img-request {
  width: 50px;
  height: 50px;
}
.name-request {
  font-size: 1.3em;
}
.accept {
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 1.25em;
  cursor: pointer;
  background-color: rgb(236, 89, 89);
  color: #fff;
  border: none;
  margin-left: 10em;
}
.decline {
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 1.25em;
  cursor: pointer;
  background-color: #fff;
  color: rgb(236, 89, 89);
  border: 1px solid rgb(236, 89, 89);
}
#chat-requests,
#add-new-members {
  cursor: pointer;
}
.close-elem {
  position: absolute;
  bottom: 10px;
  right: 42.5%;
  width: 15%;
  padding: 0.5em 0.8em;
  background-color: rgb(236, 89, 89);
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}
