nav {
  height: 8vh;
  width: 100%;
  padding: 0 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
}

.org {
  height: 90vh;
  width: 100%;
  padding: 1.5em 5em;
  margin: 1vh 0;
}
.new {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.new div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.org p {
  font-size: 1.7em;
  font-weight: bold;
}
.org a {
  font-size: 2em;
  text-decoration: none;
}

.chat {
  height: 90vh;
  width: 75%;
  padding: 0.5em 2em;
  margin: 1vh 12.5%;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.top {
  width: 100%;
  height: 8%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(170, 170, 170);
}
.top a {
  position: absolute;
  left: 2em;
  font-size: 1.5em;
}
.top p {
  font-size: 2.5em;
  font-weight: bold;
}

.messages {
  height: 80%;
  width: 100%;
  padding: 0.5em 1em;
  display: block;
  overflow: auto;
}
.messages > p {
  margin: 3em auto 0;
  font-size: 2em;
  font-weight: bold;
}

.message {
  clear: both;
  height: auto;
  min-height: 7em;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em 0;
}
#me {
  float: right;
  align-items: flex-end;
}
#him {
  float: left;
  align-items: flex-start;
}
.message-sender {
  color: rgb(29, 29, 29);
  font-size: 1.3em;
  font-weight: bold;
}
.send-date {
  color: rgb(126, 126, 126);
  font-size: 1em;
}
.message-content {
  border-radius: 25px;
  font-size: 1.4em;
  width: 100%;
  min-height: 2.5em;
  padding: 0.5em 0.7em;
  display: flex;
  align-items: center;
}
#mine {
  background-color: blue;
  justify-content: flex-end;
}
#notMine {
  background-color: green;
  justify-content: flex-start;
}

.new-msg {
  width: 100%;
  height: 12.5%;
  border-top: 1px solid rgb(170, 170, 170);
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-box {
  width: 88%;
  height: 100%;
  resize: none;
  padding: 0.2em;
  font-size: 1.5em;
}
.send-message {
  width: 10%;
  height: 50%;
  font-size: 1.5em;
  cursor: pointer;
}
