@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.alert-danger {
  max-width: 60%;
  background-color: #c51244;
  color: #fff;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 24px #c5124579;
  margin-top: 2rem;
}

::-webkit-scrollbar {
  width: 0.35rem;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #c31432;
  background: -webkit-linear-gradient(to bottom, #240b36, #c31432);
  background: linear-gradient(to bottom, #240b36, #c31432);
}
